{{ form_start(form) }}
{#{{ form_errors(form) }}#}
<fieldset class="bg-faded p-4 mb-2">
    <legend>
        <strong>Annonce</strong>
    </legend>
    {% if form.date is defined %}
        {{ form_row(form.date) }}
    {% endif %}
    {{ form_row(form.title) }}
    {% if form.slug is defined %}
        {{ form_row(form.slug) }}
    {% endif %}
    <div class="checkbox-inline">
        <p>Catégories</p>
        {% for cat in form.categories %}
            {{ form_widget(cat) }}
            {{ form_label(cat, {'attr': {'class': 'checkbox-inline'}}) }}
        {% endfor %}
    </div>
    <a data-toggle="tooltip" title="Ajouter une catégorie" data-placement="bottom">
        <button type="button"
                id="add_category"
                class="btn btn-sm btn-primary"
                data-toggle="modal"
                data-target="#modAddCat"
        >
            <i class="fa fa-plus"></i>
        </button>
    </a>


</fieldset>
<fieldset class="bg-faded p-4 mb2">
    <legend>
        <strong>Auteur</strong>
    </legend>
    {{ form_row(form.author) }}
    {{ form_row(form.authorMail) }}
</fieldset>
<fieldset class="bg-faded p-4 mb2">
    <legend>
        <strong>Image</strong>
    </legend>
    {% if form.image is defined %}
        <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" class="thumbnail">
    {% else %}
    {{ form_row(form.image) }}
    {% endif %}
</fieldset>
<fieldset class="bg-faded p-4 mb2">
    <legend>
        <strong>Description</strong>
    </legend>
    {{ form_row(form.content) }}
    {{ form_row(form.finderProfil) }}
</fieldset>

{% if form.published is defined %}
    {{ form_row(form.published) }}
{% endif %}
{{ form_widget(form.save, {'attr': {'class': "btn btn-primary"}}) }}


{{ form_rest(form) }}


{{ form_end(form) }}
<div class="modal fade" id="modAddCat" tabindex="-1" role="dialog" aria-labelledby="modAddCat" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Ajouter une catégorie</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalForm">
                {{ form_start(formAddCat) }}
                {{ form_label(formAddCat.name) }}
                {{ form_errors(formAddCat.name) }}
                {{ form_widget(formAddCat.name) }}
                {{ form_rest(formAddCat) }}
                <button class="btn btn-primary" type="submit">Ajouter</button>
                {{ form_end(formAddCat) }}
            </div>
        </div>
    </div>
</div>
